* {
    margin: 0px;
    padding: 0px;
}

.wrapBox {
    width: 100%;
    height: 100vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#loginBox {
    width: 350px;
    height: 350xp;
    border-radius: 30px;
    background-color: white;
}

.wrapBox1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#navBox {
    width: 100%;
    height: 70px;
    background: linear-gradient(to top, rgb(226, 226, 226), white);
    border-radius: 0px 0px 20px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-center {
    flex: 1;
    text-align: center;
}

.btn-custom-success {
    background-color: #0390ff; /* Custom green color */
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    width: 250px;
    border-radius: 10px;
    text-decoration: none;
}

#wrapBox3 {
    width: 100%;
    height: 140vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#signupBox {
    width: 400px;
    height: 1000px;
    background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 227));
    border-radius: 0px 0px 10px 10px;
}

#navBox1 {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to top, rgb(226, 226, 226), white);
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 30px;
}

#signupBtn1 {
    background-color: #0390ff;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-top: 25px;
}

#pasres_wrapBox {
    width: 100%;
    height: 100vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#tp-Box {
    width: 400px;
    height:100px;
    background: linear-gradient(rgb(0, 0, 0), rgb(42, 42, 42));
    border-radius: 10px 10px 0px 0px;
}
#tp-Box1 {
    width: 400px;
    height:100px;
    background: linear-gradient(rgb(0, 0, 0), rgb(42, 42, 42));
    border-radius: 10px 10px 0px 0px;
}

.custom-img {
    width: 100%;
    max-width: 500px;
    height: auto; 
    display: block;
    margin-left: auto; 
    margin-right: auto; 
  }

  .input-group-text i {
    cursor: pointer;
}

#wrapBox4 {
    width: 100%;
    height: 95vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

/*bottom Bar Sticky*/

.bottom-bar {
    background-color: #ffffff;
    border-radius: 15px 15px 0px 0px;
  }
  .bottom-bar .col {
    padding: 2px 0;
  }
  .bottom-bar a {
    display: block;
    color: #031521;
    font-weight: 450;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  .bottom-bar a:hover,
  .bottom-bar a:focus,
  .bottom-bar a:active {
    background-color: #232528;
    color: #fff;
  }

  /*Top Bar Sticky Css*/

  .custom-navbar {
    padding: 15px;
}
.custom-navbar .navbar-brand img {
    height: 50px;
    width: 260px;
}
.sidebar {
    width: 250px;
    position: fixed;
    top: 20px;
    left: -250px;
    height: 100%;
    background: #f8f9fa;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
    transition: left 0.3s ease;
}
.sidebar.active {
    left: 0;
}
.sidebar a {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    color: #000;
    text-decoration: none;
}
.sidebar a:hover {
    background: #e9ecef;
}
.sidebar .user-info {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #dee2e6;
}
.sidebar .user-info p {
    margin-bottom: 0.5rem;
}

.custom-navbar .bi-list, .custom-navbar .bi-search {
    font-size: 1.5rem;
    font-weight: bold;
}
#wrapBox5 {
    width: 100%;
    height: 110vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_myprofile {
    width: 100%;
    height: 135vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

/*Reports Date Box CSS*/

.custom-header {
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}
.custom-subheader {
    color: white;
    line-height: 40px;
    background-color: rgb(36, 36, 36);
}
.custom-form-container {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
}
.generate-report-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#wrapBox6 {
    width: 100%;
    height: 90vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox7 {
    width: 100%;
    height: 100vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox8 {
    width: 100%;
    height: 100vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_10 {
    width: 100%;
    height: 130vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_12 {
    width: 100%;
    height: 166vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_HDpics {
    width: 100%;
    height: 105vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_gmb {
    width: 100%;
    height: 80vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_videography {
    width: 100%;
    height: 80vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_gservices {
    width: 100%;
    height: 80vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_unogreen {
    width: 100%;
    height: 90vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_namecard {
    width: 100%;
    height: 110vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_digimarketing {
    width: 100%;
    height: 90vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_kit {
    width: 100%;
    height: 150vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}
    
#wrapBox_reviewcards {
    width: 100%;
    height: 110vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_tapmate {
    width: 100%;
    height: 90vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}
#wrapBox_sheepfactor {
    width: 100%;
    height: 90vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}
#wrapBox_existingcustomer {
    width: 100%;
    height: 100vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}

#wrapBox_newcustomer {
    width: 100%;
    height: 110vh;
    background: linear-gradient( #0390ff ,  #7603ff);
}